<h2>Create new image</h2>

<h3>Instructions</h3>
<img src="example2.png" width="400" alt="instructions" title="instructions for sign"/>
<p>Please note - images are only saved on the server for a very short time, so please remember to "right click and save as" if you want to keep it.</p>
<form method="get" action="/image.png">
    <ul>
        <li><label for="date">Date</label><input type="text" name="date" class="small"></li>
        <li><label for="time">Time</label><input type="text" name="time" class="small"></li>
        <li><label for="text[first]">1</label><input type="text" name="text[first]" /></li>
        <li><label for="text[second]">2</label><input type="text" name="text[second]" /></li>
        <li><label for="text[third]">3</label><input type="text" name="text[third]" /></li>
        <li><label for="text[fourth]">4</label><input type="text" name="text[fourth]" /></li>
        <li><label for="text[fifth]">5</label><input type="text" name="text[fifth]" /></li>
        <li><label for="text[sixth]">6</label><input type="text" name="text[sixth]" /></li>
        <li><label for="text[seventh]">7</label><input type="text" name="text[seventh]" /></li>
 
    </ul>
    <input type="submit" value="Create!">
</form>

<br />

<h3>Example</h3>
<img src="generated2.png" alt="example funny sign" title="example funny generated sign"/>

