<html>
  <head>
    <title>A london underground inspired service information sign maker</title>
    <meta name="description" content="A simple service to create funny london underground style service information signs. Leeds Yorkshire." />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45846549-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>
    
  </head>

<body>
  <div id="header">
    <a href="/">Create New Image</a> | <a href="/list">List Recent Images</a>
  </div>
  
  <h1>Service Information Sign Maker</h1>
  <p>Unofficial London Underground style passenger information signs</p>
  
  
  <%= yield %>
  
  <div id="footer">
   Original Image: <a href="http://www.flickr.com/photos/lrosa/1138285047/">on Flickr by Lrosa</a>. All created images on this site are <a href="http://creativecommons.org/licenses/by-sa/2.0/"> Creative Commons Attribution & Share Alike.</a><br />
   Made by <a href="https://twitter.com/tim_waters">Tim Waters</a> in <a href="http://www.openstreetmap.org/#map=14/53.7966/-1.5393">Leeds, Yorkshire</a> <br />It's open source software.
  </div>

</body>
</html>
