<html>
  <head>
    <title>A london underground inspired service information sign maker</title>
    <meta name="description" content="A simple service to create funny london underground style service information signs" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
</html>
<body>
  <div id="header">
    <a href="/">Create New Image</a> | <a href="/list">List Recent Images</a>
  </div>
  
  <h1>Service Information Sign Maker</h1>
  <p>Unofficial London Underground style passenger information signs</p>
  
  
  <%= yield %>
  
  <div id="footer">
   Made by <a href="http://github.com/timwaters">Tim Waters</a>
  </div>

</body>
