<h2>Lists recent images</h2>
<%if @signs.size == 0 %>
    <p>Sorry there are no recent images, please check back later</p>
<% else %>
    <p>Showing the latest <%= @signs.size %> images. Images get <b>deleted automatically & very quickly</b>, so make sure to "right click and save as" if you want to keep one.</p>
<% end %>
<% @signs.each do | sign | %>
    <img src="/cache/<%=sign%>" style='padding:0.1em' width="300px"> 
<% end %>
